body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .patient-list-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    align-items: center;
    text-align: center; 
  }
  
  .patient-list {
    list-style-type: none;
    padding: 0;
  }
  
  .patient-list-item {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .patient-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  .patient-link:hover {
    text-decoration: underline;
  }
  
  .patient-detail-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    align-items: center;
    text-align: center; 
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .patient-detail-container p {
    margin: 10px 0;
  }
  
  .patient-detail-container strong {
    color: #333;
  }

  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }